* {
  font-family: "Roboto", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #000;
  z-index: 5;
  flex: 0 0 auto;
  height: 80px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

.logo {
  padding: 14px 63px 14px 0;
  width: 82px;
  height: 52px;
  fill: #fff;
}

.logo2 {
  display: none;
}

.logo-footer {
  padding: 0;
}

.logo-footer-mini {
  display: none;
}

.navigation {
  display: flex;
  gap: 58px;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.navigation__link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.navigation__link:active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.auth__link {
  color: #fff;
  font-weight: 500;
}

.auth__link:active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header__burger {
  display: none;
}

.main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  align-items: center;
}

.promo {
  position: relative;
  /* background-image: url(../../assets/images/giantPanda.jpg);
  background-size: cover;*/
  z-index: 1;
  background: #000;
  top: -80px;
}

.promo-bg {
  background: url("../../assets/images/giantPanda.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  max-width: 1600px;
  margin: 0 auto;
}

.promo-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-end;
  justify-self: flex-start;
}

.promo-wrapper {
  width: 500px;
}

.title {
  position: relative;
  z-index: 2;
  margin-top: -390px;
  font-size: 6.65rem;
  color: #fff;
  font-weight: 700;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  user-select: none;
}

.title-yellow {
  color: #ffee2e;
}

.circle {
  position: relative;
  z-index: 1;
  margin-top: 92px;
  display: block;
  content: "";
  width: 465px;
  height: 465px;
  right: 73px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.button {
  display: block;
  width: 298px;
  height: 54px;
  padding: 16px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%),
    #f9804b;
  border-radius: 25px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  margin-bottom: 100px;
  transition: 0.3s;
}

.button:hover {
  background: #e47209;
  cursor: pointer;
  transition: 0.3s;
}

.button:active {
  background: #4b9200;
}

.button-promo-mini {
  display: none;
}

.footer {
  background-color: #000;
  flex: 0 0 auto;
}

.bamboo {
  position: relative;
  display: flex;
  margin-top: 60px;
}

.bamboo__image {
  max-width: 609px;
  max-height: 403px;
  margin-right: 87px;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

.bamboo__description-text {
  line-height: 130%;
  margin-bottom: 54px;
}

.bamboo__description-title {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 34px;
}

.bamboo__text {
  line-height: 140%;
}

.flower {
  position: absolute;
  right: 0;
  top: 792px;
}

.flower2,
.flower3 {
  display: none;
}

.zoos {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.animals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.arrow {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%),
    #f9804b;
  border-radius: 50%;
  min-width: 62px;
  height: 62px;
  transition: 0.3s;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  background: #4b9200;
}

.icon {
  width: 16px;
  height: 8px;
}

.flowers {
  position: relative;
}

.wrapper-animals {
  max-width: 1324px;
  margin: 0 auto;
}

.animals__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.animals__cards-item {
  position: relative;
  max-width: 366px;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right bottom, #f9804b 1.49%, #fe9013 101.44%);
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}

.animals__cards-item:hover {
  cursor: pointer;
  transition: all 0.3s;
}

.animals__card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 14px 16px;
  transition: all 0.3s;
}

.animals__card-name {
  text-transform: uppercase;
  color: black;
  line-height: 140%;
  font-weight: 500;
}

.animals__card-text2 {
  color: black;
  line-height: 120%;
  font-weight: 300;
}

.animals__card-image {
  max-width: 366px;
  max-height: 366px;
  overflow: hidden;
  transition: all 0.3s;
}

.animals__cards-item:hover .animals__card-image {
  transform: scale(1.36);
}

.animals__cards-item:hover .animals__card-description {
  position: absolute;
  min-width: 366px;
  max-width: 366px;
  margin-top: -366px;
  height: 426px;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.animals__cards-item:hover .animals__card-food {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.animals__cards-item:hover .animals__card-text2,
.animals__cards-item:hover .animals__card-name {
  color: white;
}

.palm {
  position: absolute;
  left: 0;
  bottom: 0;
}

.palm-little {
  display: none;
}

.strelitzia {
  position: absolute;
  right: 0;
  bottom: 0;
}

.strelitzia-mini {
  display: none;
}

.pick-and-feed {
  padding: 69px 0 100px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.pick-wrap {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px;
  display: flex;
  flex-direction: column;
}

.orange-title {
  color: #fe9013;
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
}

.pick-and-feed__description-about {
  padding-left: 99px;
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 40px;
}

.pick-and-feed__minititle {
  font-weight: 500;
  padding-left: 99px;
  line-height: 130%;
  margin-bottom: 10px;
}

.pick-and-feed__description-text {
  line-height: 130%;
  padding-left: 99px;
  padding-right: 198px;
  margin-bottom: 60px;
}
.how-it-works {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
}

.helpers-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 764px;
  margin-bottom: 60px;
}

.helpers-cards__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 168px;
}

.helpers-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 168px;
  height: 168px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right bottom, #f9804b 1.49%, #fe9013 101.44%);
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}

.icon-pay {
  width: 108px;
  height: 60px;
}

.icon-zoo {
  width: 85.5px;
  height: 95px;
}

.icon-monkey {
  width: 125px;
  height: 71.5px;
}

.icon-arrow {
  margin-top: -76px;
  width: 69px;
  height: 35px;
}

.helpers-card__text {
  line-height: 140%;
}

.button-feed {
  margin-bottom: 0;
}

.testimonials {
  margin-top: 140px;
  position: relative;
  padding-bottom: 180px;
}

.leav {
  position: absolute;
  right: 0;
  bottom: 0;
}

.testimonails__block {
  margin-bottom: 21px;
}

.line[type="range"] {
  width: 599px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.line[type="range"]::-webkit-slider-thumb {
  background: linear-gradient(to right bottom, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 115px;
  height: 6px;
  -webkit-appearance: none;
}

.line[type="range"]::-moz-range-thumb {
  background: linear-gradient(to right bottom, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 115px;
  height: 6px;
  -webkit-appearance: none;
}

.line {
  display: block;
  content: "";
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  border-radius: 5px;
  background-image: linear-gradient(#f5f7f6, #f5f7f6),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 0 auto 31px;
}

.line:hover {
  cursor: pointer;
}

.button-feedback {
  margin: 0 0;
  border-radius: 5px;
}

.big-arrow {
  display: flex;
  align-items: center;
}

.green-arrow {
  display: none;
}
.green-arrow-last {
  display: none;
}

.testimonials__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  text-align: center;
  margin-bottom: 47px;
}

.testimonials__cards {
  display: flex;
  justify-content: space-between;
}

.testimonials__cards-item {
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 391px;
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(#f5f7f6, #f5f7f6),
    linear-gradient(
      to right bottom,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.testimonials__cards-item-top {
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 15px;
  display: flex;
  gap: 10px;
}

.testimonials__cards-item-bottom {
  display: flex;
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 15px;
  height: 309px;
  overflow: hidden;
}

.testimonials__cards-item-person {
  display: flex;
  flex-direction: column;
}

.testimonials__cards-item-name {
  color: black;
  line-height: 120%;
  font-weight: 400;
}

.testimonials__cards-item-info {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  color: #bdbdbd;
}

.testimonials__cards-item-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  color: #767474;
}

.footer-wrap {
  padding: 41px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-square {
  margin: 36px 0 44px;
  border-radius: 5px;
  margin-right: 69px;
}

.social-auth {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-icon {
  display: flex;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transition: 0.3s;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-links__item:hover {
  cursor: pointer;
}

.social-links__item:active .social-links__item-title {
  color: #4b9200;
}

.social-links__item:active .social-icon {
  background: #4b9200;
}

.social-icon__facebook {
  width: 8px;
  height: 16px;
}

.social-icon__twitter {
  width: 16px;
  height: 16px;
}

.social-icon__instagram {
  width: 16px;
  height: 16px;
}

.social-icon__youtube {
  width: 16px;
  height: 16px;
}

.social-links__item-title {
  color: white;
  line-height: 140%;
}

.footer__navigation {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin-left: 120px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
}

.subscribe__auth {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
}

.subscribe__auth:active .subscribe__auth-name,
.subscribe__auth:active .subscribe__auth-rights {
  color: #4b9200;
  border-bottom: 1px solid #4b9200;
}

.subscribe__auth-name,
.subscribe__auth-rights {
  color: white;
  font-weight: 100;
  line-height: 130%;
}

.navigation-foo {
  margin: 0;
}

.subscribe__title {
  color: white;
  line-height: 120%;
  font-size: 1.5rem;
  margin-bottom: 14px;
}

.form {
  display: flex;
  gap: 10px;
}

.submit {
  background: #f1f3f2;
  border-radius: 5px;
  border: 1px solid #333b41;
  width: 129px;
  height: 42px;
  padding: 10px 39px;
  font-size: 1rem;
  color: #333b41;
  line-height: 140%;
  cursor: pointer;
}

.submit:active {
  border-color: #4b9200;
  color: #4b9200;
}

.inputfield {
  background: transparent;
  max-width: 230px;
  border-radius: 5px;
  border: 1px solid #f9804b;
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #bdbdbd;
  padding: 10px 7px 10px 10px;
}

.inputfield:focus {
  border: 1px solid #4b9200;
  outline: none;
}

/* .inputfield:valid {
  border: 1px solid #4b9200;
} */

.inputfield:invalid {
  border: 1px solid #d31414;
  outline: none;
}

.inputfield:focus ~ .submit {
  border-color: #bdbdbd;
  color: black;
}

.inputfield:invalid ~ .submit {
  border: 1px solid #d31414;
  color: #d31414;
}

.inputfield::placeholder {
  color: #bdbdbd;
}

/* .submit:default {
	border-color: #4b9200;
	color: #4b9200;
} */

.support-link {
  border-bottom: 1px solid #fe9013;
  color: #333b41;
}

@media (max-width: 1510px) {
  .flower {
    display: none;
  }
}

@media (max-width: 1300px) {
  .animals__cards-item {
    max-width: 294px;
    max-height: 350px;
  }

  .animals__card-image {
    width: 294px;
  }

  .animals__card-image-scale {
    width: 294px;
  }

  .animals__cards-item:hover .animals__card-description {
    min-width: 300px;
    max-width: 300px;
    height: 365px;
    margin-top: -300px;
  }

  .animals__cards-item:hover .animals__card-image-scale {
    transform: scale(1.01);
  }

  .animals__cards-item:hover .animals__card-food {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .header-wrap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .bamboo {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    gap: 30px;
  }

  .bamboo__image {
    margin-right: 0;
  }

  .pick-wrap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .pick-and-feed__minititle {
    max-width: 99%;
  }

  .testimonials__cards {
    margin-left: 30px;
    margin-right: 30px;
  }

  .testimonials__cards-item:nth-child(4) {
    display: none;
  }

  .footer-wrap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .button-square {
    margin-right: 0;
  }

  .footer__navigation {
    display: flex;
    justify-content: end;
  }

  .navigation-foo {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    gap: 48px;
  }

  .link-foo {
    font-weight: 400;
  }
}

@media (max-width: 1100px) {
  .animals {
    margin-left: 30px;
    margin-right: 30px;
  }

  .animals__cards {
    gap: 92px 0;
  }

  .arrow-left {
    position: absolute;
    left: 50%;
    transform: translate(-146px, 0);
  }

  .arrow-right {
    position: absolute;
    left: 50%;
    transform: translate(85px, 0);
  }

  .pick-and-feed__minititle {
    max-width: 800px;
  }

  .navigation-foo {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    gap: 48px;
  }
}

@media (max-width: 1000px) {
  .navigation {
    gap: 48px;
  }

  .promo-bg {
    background-size: cover;
  }

  .circle {
    margin-top: 70px;
    width: 367px;
    height: 367px;
    right: 25px;
  }

  .promo-wrapper {
    max-width: 458px;
    margin-right: 58px;
  }

  .title {
    font-size: 5.325rem;
    margin-bottom: 40px;
    margin-top: -313px;
  }

  .button-promo {
    margin-bottom: 47px;
  }

  .button-promo-mini {
    display: none;
  }

  .bamboo {
    margin-top: 20px;
  }

  .bamboo__image {
    min-width: 455px;
    overflow: hidden;
  }

  .bamboo__image > img {
    margin-left: -80px;
  }

  .bamboo__text {
    letter-spacing: 0.1px;
  }

  .zoos {
    margin-top: 140px;
  }

  .choose {
    margin-top: 6px;
    margin-bottom: 140px;
  }

  .strelitzia {
    max-width: 241px;
  }

  .palm {
    display: none;
  }

  .palm-little {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .pick-and-feed {
    padding: 30px 0 50px;
  }

  .pick-wrap {
    padding: 30px 0 50px;
  }

  .orange-title {
    margin-bottom: 20px;
  }

  .pick-and-feed__description-about {
    padding-left: 49px;
    margin-bottom: 20px;
  }

  .pick-and-feed__minititle,
  .pick-and-feed__description-text {
    padding-left: 49px;
    width: 95%;
  }

  .pick-and-feed__description-text {
    margin-bottom: 40px;
    padding-right: 0;
  }

  .helpers-cards {
    margin-bottom: 70px;
  }

  .testimonials {
    margin-top: 100px;
    padding-bottom: 140px;
  }

  .testimonails__block {
    margin-bottom: 16px;
  }

  .testimonials__title {
    margin-bottom: 30px;
  }

  .testimonials__cards-item {
    width: 293px;
  }

  .testimonials__cards-item-bottom {
    padding-top: 7px;
  }

  .line {
    margin-bottom: 52px;
    width: 390px;
  }

  .line[type="range"] {
    width: 390px;
  }

  .line[type="range"]::-webkit-slider-thumb {
    width: 75px;
  }

  .leav {
    width: 115px;
    height: 218px;
  }

  .button-feedback {
    margin-left: 30px;
  }
}

@media (max-width: 950px) {
  .animals__cards-item {
    max-width: 285px;
    border-radius: 5px;
  }

  .animals__card-image {
    max-width: 285px;
    max-height: 285px;
  }

  .animals__card-description {
    padding: 6px 9px 10px 12px;
  }

  .animals__card-name {
    font-size: 0.75rem;
  }

  .animals__card-text2 {
    font-size: 0.75rem;
  }

  .animals__cards-item:hover .animals__card-image {
    transform: scale(1.4);
  }

  .animals__cards-item:hover .animals__card-description {
    position: absolute;
    min-width: 285px;
    max-width: 285px;
    margin-top: -285px;
    height: 332px;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
  }

  .animals__cards-item:hover .animals__card-food {
    position: absolute;
    right: 32px;
    bottom: 15px;
  }

  .pick-and-feed__minititle {
    padding-left: 20px;
    max-width: 99%;
  }

  .pick-and-feed__description-about {
    padding-left: 20px;
  }

  .pick-and-feed__description-text {
    padding-left: 20px;
    max-width: 99%;
  }
}

@media (max-width: 920px) {
  .promo-wrapper {
    margin-right: 0;
  }

  .animals__cards {
    margin-left: 60px;
    margin-right: 60px;
  }

  .animals__cards-item:nth-child(3n) {
    display: none;
  }

  .bamboo {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .helpers-cards {
    position: relative;
    width: 588px;
    gap: 42px;
  }

  .big-arrow {
    display: none;
  }

  .icon-arrow {
    display: none;
  }

  .green-arrow {
    position: absolute;
    left: 140px;
    top: -15px;
    display: block;
  }

  .green-arrow-last {
    position: absolute;
    left: 350px;
    top: -15px;
    display: block;
  }

  .testimonails__cards {
    display: flex;
    gap: 5px;
  }

  .footer__navigation {
    margin-left: 0;
  }
}

@media (max-width: 770px) {
  .logo {
    padding-right: 30px;
  }

  .navigation {
    gap: 20px;
  }

  .pick-and-feed__minititle {
    max-width: 95%;
  }

  .pick-and-feed__description-text {
    max-width: 95%;
  }

  .pick-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  .animals__cards {
    margin-left: 0;
    margin-right: 0;
  }

  .navigation-foo {
    gap: 10px;
  }
}

@media (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    height: 34px;
  }

  .promo {
    margin-top: 34px;
  }

  .header__navigation,
  .auth__link {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo2 {
    display: block;
    width: 47px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .logo-footer {
    display: block;
  }

  .promo {
    top: -40px;
  }

  .promo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 94%;
    margin: 0 20px;
  }

  .circle {
    width: 237px;
    height: 237px;
    margin-top: 50px;
    right: 55px;
  }

  .button-promo {
    margin-left: 0;
    margin-bottom: 35px;
  }

  .title {
    display: block;
    font-size: 3.375rem;
    width: 255px;
    margin-top: -200px;
    margin-bottom: 0;
  }

  .flower2 {
    position: absolute;
    display: block;
    right: 0;
    top: 375px;
    width: 126px;
  }

  .bamboo {
    margin-top: 20px;
    margin-left: 20px;
    align-items: flex-start;
  }

  h2 {
    letter-spacing: 0.2px;
  }

  .bamboo__image {
    display: none;
  }

  .bamboo__description {
    max-width: 490px;
  }

  .bamboo__description-text {
    margin-bottom: 32px;
  }

  .bamboo__description-title {
    margin-bottom: 20px;
  }

  .bamboo__text {
    letter-spacing: 0.01px;
  }

  .zoos {
    margin-top: 80px;
    gap: 60px;
  }

  .animals {
    margin: 0 20px;
  }

  .animals__card-image {
    max-height: 282px;
  }

  .animals__card-description {
    padding-top: 0;
    padding-bottom: 0;
  }

  .arrow-left {
    transform: translate(-77px, 0);
  }

  .arrow-right {
    transform: translate(15px, 0);
  }

  .choose {
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .strelitzia {
    width: 175px;
    height: 131px;
  }

  .palm-little {
    height: 202px;
    left: -60px;
  }

  .pick-and-feed {
    padding: 20px 0;
  }

  .pick-and-feed__description {
    margin-left: 20px;
    margin-right: 20px;
  }

  .pick-wrap {
    padding: 10px 0;
  }

  .orange-title {
    margin-bottom: 20px;
    font-size: 2.625rem;
  }

  .pick-and-feed__description-about {
    font-size: 1.375rem;
    padding-left: 0;
  }

  .pick-and-feed__minititle {
    margin-bottom: 10px;
    padding-left: 0;
  }

  .pick-and-feed__description-text {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .how-it-works {
    margin-bottom: 20px;
  }

  .helpers-cards {
    margin-bottom: 40px;
  }

  .button-feed {
    margin-bottom: 47px;
  }

  .testimonials {
    margin-top: 60px;
  }

  .testimonials__cards {
    margin: 0 20px;
    flex-direction: column;
    gap: 13px;
  }

  .testimonials__cards-item {
    width: 100%;
    max-height: 107px;
  }

  .testimonials__cards-item-top {
    padding: 15px 12px 0 12px;
  }

  .testimonials__cards-item-bottom {
    padding: 10px 18px 0;
    height: 38px;
  }

  /* .testimonials__cards-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  } */

  .line {
    display: none;
  }

  .testimonails__block {
    margin-bottom: 40px;
  }

  .button-feedback {
    margin: 0 auto;
    width: 240px;
  }

  .testimonials {
    padding-bottom: 80px;
  }

  .leav {
    width: 71px;
    height: 123px;
  }

  .footer-wrap {
    margin: 12px 20px;
    padding: 0 0;
  }

  .subscribe__field {
    display: none;
  }

  .button-square {
    margin: 32px 0 67px;
  }

  .social-links__item-title {
    display: none;
  }

  /* .social-auth {
    position: relative;
  } */

  .footer {
    position: relative;
  }

  .social-links {
    position: absolute;
    right: 20px;
    top: 12px;
    gap: 20px;
  }

  .header-wrap {
    max-width: 600px;
    margin: 0 20px;
  }

  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    margin-top: 10px;
    width: 18px;
    height: 10px;
  }

  .logo2 {
    position: absolute;
    top: 0;
    z-index: 5;
  }

  .header__burger:hover {
    cursor: pointer;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 4px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }
  /* 
 .header {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 0;
    margin: 0;
    transition: right 0.3s ease 0s;
    overflow: auto;
  } */

  .header__navigation {
    box-sizing: border-box;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    background-color: #FFF;
    padding: 10px;
    transition: all 0.3s ease 0s;
  }

  .header__navigation._active {
    transform: translate(0, 0);
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation__item {
    gap: 15px;
  }

  .navigation__link {
    color: #000;
  }


  .header__burger._active span {
    background-color: #FFF;
  }
  .header__burger._active::before {
    top: 50%;
    background-color: #000;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header__burger._active::after {
    bottom: 50%;
    background-color: #000;
    transform: rotate(45deg) translate(0, 50%);
  }

  .navigation-foo {
    gap: 37px;
  }
}

@media (max-width: 615px) {
  .bamboo__description {
    max-width: 80%;
  }

  .arrow {
    display: none;
  }

  .animals__cards {
    flex-direction: column;
    gap: 20px;
  }

  .animals {
    justify-content: center;
  }

  .animals__cards-item:hover .animals__card-description {
    display: flex;
    min-height: 332px;
  }

  .helpers-cards {
    flex-direction: column;
    width: 100%;
  }

  .helpers-cards__item {
    margin: 0 auto;
    gap: 10px;
  }

  .green-arrow {
    transform: rotate(90deg);
    top: 190px;
    left: 350px;
  }

  .green-arrow-last {
    transform: rotate(90deg);
    top: 435px;
  }

  .testimonials__cards-item {
    width: 100%;
  }

  .social-auth {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .subscribe {
    justify-content: end;
  }

  .footer__navigation {
    justify-content: center;
  }

  .subscribe-mini {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .promo-wrapper {
    width: 80%;
  }

  .button-promo {
    margin: 0 auto 40px;
  }

  .title {
    margin-bottom: 43px;
    font-size: 1.75rem;
    width: 128px;
    margin-top: -100px;
  }

  .circle {
    width: 119px;
    height: 119px;
    margin-top: 50px;
    right: 27px;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 1.5rem;
  }

  .green-arrow,
  .green-arrow-last {
    left: 240px;
  }

  .leav {
    width: 13%;
    height: 13%;
  }

  .social-links {
    display: flex;
    flex-direction: row;
  }

  .promo-wrapper {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .header-wrap {
    margin: 0 10px;
  }

  .circle {
    margin-top: 60px;
  }

  .button-promo {
    display: none;
  }

  .bamboo {
    margin: 0 10px;
  }

  .button-promo-mini {
    display: block;
    margin: -20px 0 30px;
  }

  .bamboo__description {
    max-width: 100%;
  }

  .flower2 {
    display: none;
  }

  .flower3 {
    position: absolute;
    display: block;
    right: 0;
    top: 260px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .bamboo__description-text {
    margin-bottom: 20px;
  }

  .bamboo__description-title {
    margin-bottom: 10px;
  }

  .zoos {
    margin-top: 40px;
    gap: 20px;
  }

  .strelitzia {
    display: none;
  }

  .strelitzia-mini {
    width: 85px;
    height: 71px;
    right: -20px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .palm-little {
    left: -15px;
    width: 85px;
    height: 71px;
  }

  .choose {
    margin-bottom: 60px;
  }

  .pick-and-feed {
    padding: 20px 10px;
  }

  .pick-wrap {
    padding: 20px 0 0;
  }

  .orange-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .pick-and-feed__description-about {
    text-align: center;
    font-size: 18px;
  }

  .pick-and-feed__minititle,
  .pick-and-feed__description-text {
    display: none;
  }

  .how-it-works {
    font-size: 1.5rem;
  }

  .helpers-cards {
    gap: 40px;
    margin-bottom: 30px;
  }

  .green-arrow,
  .green-arrow-last {
    left: 205px;
    transform: rotate(83deg);
  }

  .green-arrow {
    top: 180px;
  }

  .green-arrow-last {
    top: 415px;
  }

  .helpers-cards__item {
    margin-top: -10px;
  }

  .button-feed {
    margin-bottom: 40px;
  }

  .testimonials {
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .testimonials__title {
    margin-bottom: 20px;
  }

  .testimonails__block {
    margin-bottom: 30px;
  }

  .button-feedback {
    width: 240px;
  }

  .leav {
    width: 10%;
    height: 10%;
  }

  .logo-footer {
    display: none;
  }

  .logo-footer-mini {
    display: block;
    margin: 0 auto 86px;
  }

  .subscribe-mini {
    margin: 0 auto;
  }

  .social-links {
    top: 70px;
    right: 63px;
    gap: 30px;
  }

  .footer-wrap {
    margin: 20px 10px;
  }

  .button-square {
    margin: 0 0 30px;
  }

  .social-auth {
    gap: 30px;
  }

  .navigation-foo {
    gap: 30px;
  }
}
